In [71]:
"""
Created on Sun Jun 20 18:53:11 2021

@author: Johanna
"""

import pandas as pd
import numpy as np 
import glob

twitter_list = []

path = r'./Nodes' # use your path
all_files = glob.glob(path + "/*.parquet")

for filename in all_files:
    df = pd.read_parquet(filename, engine='pyarrow')
    twitter_list.append(df)
    
#twitter = pd.read_parquet('nodes_1.parquet', engine='pyarrow')
twitter = pd.concat(twitter_list)

#for col in twitter.columns:
#    print(col)

# absolute values: followers
# six honest signals based on chosen values: check if correct values were chosen from the data 
# central leadership: degree centrality, betweenness centrality
# rotation leadership: betweenness centrality oscillation
# balanced contribution: contribution index
# rapid response: ego art, ego nudges, alter art, alter nudges
# honest language: avg. sentiment, avg. emotionality
# shared context: avg. complexity 

#removed of following after new data set: , 'betweenness_oscillation'

twitter = twitter[['name', 'followers_count', 'degree', 'betweenness', 'contribution_index', 
                   'ego_art', 'ego_nudges', 'alter_art', 'alter_nudges', 'sentiment_avg', 'emotionality_avg',
                   'complexity_avg']]



twitter = twitter.fillna(0)

# load the thoughtleader list 
# I replaced - in the twitter account column in the thoughtleader list by nothing, so I have an nan value 


xls = pd.ExcelFile('Intelektuellen-Ranking.xlsx')

df = xls.parse(parse_cols=[0, 1, 2, 3], index_col=0, nrows=100, usecols = "A,B,C,D,F,G", na_values=[0])

#print(df)

#tl = pd.read_excel('Intelektuellen-Ranking.xlsx', index_col=0, dtype=str)

#tl = tl.fillna(0)
#print(tl)
# merge the datasets

twitter = twitter.rename(columns={'name' : 'Name'})
#tl = tl.rename(columns={'Twitter' : 'Twittername'})
#tl = tl.replace(to_replace='@', value=' ', regex=True)
combined = pd.merge(twitter, df, on='Name')

#combined = combined.drop(columns=['Bereich', 'Wikipedia', 'Google Search Results'])

conditions = [
    (combined['Twitter Verifiziert?'] == 'nicht verifiziert') | (combined['Twitter Verifiziert?'] == 0),
    (combined['Twitter Verifiziert?'] == 'verifiziert')]

values = [0, 1]

combined['verified'] = np.select(conditions, values)

# calculations for the values we need 
# followers count not added yet 
# change calculations for the honest signals if you have better idea 

combined['central_leadership'] = combined['degree'] + combined['betweenness']
#combined['rotation_leadership'] = combined['betweenness_oscillation']
combined['balanced_contribution'] = combined['contribution_index']
#combined['rapid_responses'] = combined['ego_art'] + combined['ego_nudges'] + combined['alter_nudges'] + combined['alter_art']
combined['rapid_responses'] = (1/combined['ego_art']) + (1/combined['ego_nudges']) + (1/combined['alter_nudges']) + (1/combined['alter_art'])
combined['honest_language'] = combined['sentiment_avg'] + combined['emotionality_avg']
combined['shared_context'] = combined['complexity_avg']
#combined = combined.fillna(0)
combined['Twitter'] = combined['central_leadership'] + combined['balanced_contribution'] + (1/combined['rapid_responses']) + combined['honest_language'] + combined['shared_context']+(combined['followers_count']/100)

#drop unncessary columns 
combined = combined[['Name', 'Twitter']]

def get_twitter_factor(): 
    global twitter_factor; 
    twitter_factor = pd.DataFrame(combined)
    #twitter_factor.sort_values(by=["twitter_index"], inplace=True)
    
    
    twitter_factor['Twitter']=(twitter_factor['Twitter']-twitter_factor['Twitter'].min())/(twitter_factor['Twitter'].max()-twitter_factor['Twitter'].min())
    return twitter_factor;

In [73]:
#Merge with tl again, to get the original name of the thoughtleader and not the name of the wikipedia page
df_3 = pd.merge(df, combined, on='Name', how="left")
#df_3 = df_3[['Name', 'Wikipedia_score']]

df_3

#df_3.to_csv("Thoughtleader_Wikipedia.csv", encoding='utf-8')


#combined = pd.merge(twitter, df, on='Name')

,Name,m/w,Bereich,Wikipedia,Twitter Verifiziert?,Google Search Results,Twitter
0,Adolf Muschg,m,Literatur,Adolf Muschg,NaN,3920,NaN
1,Aleksanra Bachzetsis,w,Kunst,Alexandra Bachzetsis,NaN,888,NaN
2,Andreas Vollenweider,m,Musik,Andreas Vollenweider,ja,7500,31.910946
3,Anna Rosenwasser,w,Aktivismus,-,NaN,1200,87.224169
4,Annemarie Piper,w,Philosophie,Annemarie Pieper,NaN,408,NaN
...,...,...,...,...,...,...,...
96,Tommy Vercetti,m,Musik,Tommy Vercetti,NaN,19700,40.661937
97,Ueli Mäder,m,Soziologie,Ueli Mäder,NaN,610,NaN
98,Ursula Hauser,w,Kunst,-,NaN,816,NaN
99,Ursula Rodel,w,Mode,Ursula Rodel,NaN,95,NaN
100,Zora del Buono,w,Literatur,Zora del Buono,NaN,1560,NaN

In [74]:
get_twitter_factor()

                    Name   Twitter
0          Sophie Hunger  0.088470
1   Andreas Vollenweider  0.006755
2           Patti Basler  0.408693
3          Hazel Brugger  0.689256
4           Rolf Dobelli  0.000212
5             Pedro Lenz  0.000000
6             Katja Rost  0.147791
7             Katja Rost  0.000000
8           Dirk Helbing  0.141531
9       Anna Rosenwasser  0.018464
10             Güzin Kar  0.572059
11            Knackeboul  0.740291
12           Petra Volpe  0.022995
13           Boris Blank  0.000000
14         Ludwig Hasler  0.000000
15          Patrick Rohr  0.040023
16        Martin R. Dean  0.008345
17           Jürg Halter  0.086504
18           Peach Weber  0.011288
19          Daniel Ryser  1.000000
20        Tommy Vercetti  0.008607
21      Katja Gentinetta  0.039893
22       Philipp Sarasin  0.582538
23     Michael Haefliger  0.106930
24           Marko Kovic  0.039930